binds {
    // === System Keybinds ===
    //Overview Screen
    Mod+Tab repeat=false { toggle-overview; }
    //Lock Screen
    Mod+L hotkey-overlay-title="Lock Screen" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    //Task Manager
    Ctrl+Alt+Delete hotkey-overlay-title="System Monitor" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "systemMonitor" "toggle"; }
    //Browse Wallpapers
    //Mod+Y hotkey-overlay-title="Browse Wallpapers" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    //Application Launcher
    Mod+Space hotkey-overlay-title="Application Launcher" { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    //Screenshot
    Mod+Shift+S { screenshot; }
    //Notes Panel (requires Noctalia notes plugin)
    Mod+N hotkey-overlay-title="Notes Scratchpad" {spawn "qs" "-c" "noctalia-shell" "ipc" "call" "plugin" "togglePanel" "notes-scratchpad"; }

    // === Application Keybinds ===
    //Open Terminal
    Mod+Return hotkey-overlay-title="open Terminal" { spawn "foot"; }
    //Open Zed
    Mod+E hotkey-overlay-title="Open Editor" { spawn "zeditor"; }
    //Open the browser
    Mod+B hotkey-overlay-title="Open Browser" { spawn "zen-browser"; }
    //Show the NIRI hotkey dialog
    Mod+Shift+Slash { show-hotkey-overlay; }
    //Evolution Email
    Mod+M hotkey-overlay-title="Open Email" {spawn "evolution"; }
    //Feishin music player
    Mod+S hotkey-overlay-title="Open Feishin Music Player" {spawn "feishin"; }

    // === Window Management Keybinds ===
    Mod+Q repeat=false { close-window; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+T { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+W { toggle-column-tabbed-display; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }

    // === Monitor and Workspace Navigation Keybinds ===
    Mod+Shift+Right { move-column-to-monitor-right; }
    Mod+Shift+Left { move-column-to-monitor-left; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Down { move-column-to-workspace-down; }

    // === Workspace Focus Keybinds ===
    Mod+Ctrl+Up { focus-workspace-up; }
    Mod+Ctrl+Down { focus-workspace-down; }

    // === Volume and Brightness Keybinds ===
    XF86AudioRaiseVolume allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioPlay allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioStop allow-when-locked=true { spawn "qs" "-c" "noctalis-shell" "ipc" "call" "media" "pause"; }
    XF86AudioPrev allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "next"; }
}
